*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    
}
body{
    
    
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.for-bakcround{
    background-color: #163A24;
}
.header-block{
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    margin-bottom: 20px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    width: 590px;
    height: 27;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 15px;
}

.login{
    margin-left: 239px;
    margin-right: 24px;
}

.list-link{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FBFAF7;
}
.header-btn{
    width: 141px;
    height: 52px;
    border: 2px solid #198C36;
    background-color: #198C36;
    border-radius: 30px;
    padding-top: 12px;
    
}
.get-btn{
    text-align: center;
    
}

.big-div{
    display: flex;
}
.left-div{
    margin-top: 120px;

}
.hero-title{
    font-family: 'Recoleta', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #FBFAF7;
    margin-bottom: 18px;
}
.hero-text{
    font-size: 18px;
    line-height: 27px;
    color: #FBFAF7;
}
.bigger-div{
    display: flex;
    justify-content: space-between;
    
}
.human-title{
    font-family: 'Recoleta', sans-serif;
    margin-top: 149px;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 27px;

}
.human-text{
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}
.right-block{
    width: 393px;
    height: 200px;
}
.block{
    flex-direction: row-reverse;
    margin-bottom: 114px;
}

.partner-block{
    margin-bottom: 120px
}

.partner-title{
    font-family: 'Recoleta', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 66px;

}
.partner-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.partner-item{
    
}

/* QUALITY PORTION */

.quality-div{
    padding-top: 66px;
    padding-bottom: 120px;
}
.quality-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.quality-title{
    font-family: 'Recoleta', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 74px;
}
.quality-text{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fbfaf7;
}
.quality-img{
    margin-bottom: 28px;
}


/* EMPLOYEES PORTION */


.pinc-background{
    background-color: #ebe5e3;
}

.employees-block{
    align-items: center;
    padding-top: 120px;
    padding-bottom: 135px;

}

.employees-title{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 27px;
}

.employees-text{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    margin-bottom: 2px;
}


/* DEVELOPMENT PORTION */


.development-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
}

.development-div{
    width: 393px;
    height: 227px;
}

.development-title{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 27px;
}
.development-text{
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    width: 379px;
    height: 81px;
}
.development-img{
    margin-bottom: 120px;
    margin-left: 98px;
}


/* CONSIDER PORTION */


.consider-title{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 26px;
}

.consider-text{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    margin-bottom: 18px;
}

.consider-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
 .consider-item{
     width: 353px;
     height: 393px;
    background-color: #fff;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    
 }

 .item-title .helper{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: #163A24;
    margin-bottom: 23px;
    margin-right: 153px;
 }

 .consider-img{
     margin-left: 40px;
     margin-top: 50px;
     margin-right: 251px;
 }

 .consider-in-list{
     list-style: outside;
     padding: 55px 40px  55px 40px;
 }

 .consider-in-item{
     margin-bottom: 15px;
 }

 /* TIME PORTION */

 .time{
     padding-top: 114px;
     padding-bottom: 124px;
     align-items: center;
 }
 
 .time-title{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 47px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 26px;
 }

 .time-text{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    margin-bottom: 18px;
 }

 .portion{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .minutes{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    color: #163A24;
 }

 .time-discription{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    margin-bottom: 13px;
 }

 .discription{
     width: 262px;
     height: 141px;
 }

.call-btn{
    text-decoration: none;
    align-items: center;
}


 .free-call{
     text-decoration: none;
    width: 244px;
    height: 52px;
    border: 2px solid #198C36;
    background-color: #198C36;
    border-radius: 30px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
 }

.book-btn{
    text-decoration: none;
    align-items: center;
}

 .book-link{
    text-decoration: none;
    width: 191px;
    height: 52px;
    border: 2px solid #198C36;
    background-color: #198C36;
    border-radius: 30px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
 }

 .start-portion{
     display: flex;
     justify-content: space-between;
 }

 .start-title{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 26px;
 }

 .start-text{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 18px;
 }

 .start-btn{
     text-decoration: none;
     align-items: center;
    
 }

 .start-link{
    text-decoration: none;
    width: 258px;
    height: 52px;
    border: 2px solid #fdaefd;
    background-color: #fdaff9;
    border-radius: 30px;
    text-align: center;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;

 }
 .helped{
     text-align: center;
 }

 .center-block{
     padding-top: 114px;
     padding-bottom: 124px;
 }
.left-title{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 26px;
}

.left-paragraph{
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    margin-bottom: 79px;
}

 .right-btn{
    background: #FFFFFF;
    border: 1px solid #F2EFE6;
    box-sizing: border-box;
    border-radius: 255px;
    width: 555px;
    height: 55px;
    margin-bottom: 11px;
}
.right-button{
    background: #15762E;
    border-radius: 160px;
    width: 111px;
    height: 55px;
    border: none;
    position: relative;
    left: 480px;
}

.right-paragraph{
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}

.policy-link{
    font-size: 14px;
    line-height: 21px;
    color: #198C36;
}

.other{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.left{
    width: 590px;
    height: 119px;
}

.right{
    width: 590px;
    height: 120px;
}

/* FOOTER */
.footer-title{
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #163A24;
}

.footer-div{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 44px;
}

.footer-list{
    list-style-type: none;
    display: flex;
    padding-right: 2px;
}
.social-item{
    margin-right: 14px;
}

.bigger-block{
    padding-right: 26px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.finally-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer-intro{
    margin-right: 14px;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    
}

.intro-link{
    color: #198C36;
    text-decoration: none;
}

.footer-hr{
    width: 1180px;
    height: 1px;
    margin-bottom: 24px;
}

.footer-text{
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}